/* Link */

.link
  color: inherit
  text-decoration: none
  cursor: pointer
  -webkit-transition: color 0.15s ease-out
  transition: color 0.15s ease-out
  -webkit-tap-highlight-color: rgba(0,0,0,0.1)
  &:hover
    color: $brand-hover

  &_full
    position: absolute
    top: 0
    left: 0
    display: block
    width: 100%
    height: 100%
    text-decoration: none

  &_theme_ep
    color: $brand
    &.link_size_l
      font-size: 15px

    &.link_size_xl
      font-size: 18px


  &_theme_red.link_size_m, &_theme_red.link_size_s, &_theme_ep.link_size_m, &_theme_ep.link_size_s
    font-size: 13px


.links
  margin: 0
  padding: 0
  list-style: none
  text-align: left
  &__item
    display: inline-block
    margin-right: 1em
    &:last-child
      margin-right: 0

/* End Link */