//advantages
section.section(data-anchor="advantages")
    header.section__header.container
        h3.section__title-2 Гибкие возможности
        h4.section__title-description Управляйте сделками из любого места, в любое время. Подписывая акты с помощью ЭЦП в считанные секунды.
    .section__content.container
        ul.possibility
            .row
                li.possibility__item.col-xs-12.col-sm-6.col-md-4
                    img.possibility__icon(src="img/possibility-1.svg", width="80", height="95")
                    .possibility__title Формирования актов скрытых работ
                    .possibility__text Большинство полей актов скрытых работ формируются автоматически, а вам остается только заполнить несколько текстовых полей
                li.possibility__item.col-xs-12.col-sm-6.col-md-4
                    img.possibility__icon(src="img/possibility-2.svg", width="80", height="95")
                    .possibility__title Общение с контрагентами
                    .possibility__text Вы можете вести переписку с сотрудниками ваших контрагентов
                li.possibility__item.col-xs-12.col-sm-6.col-md-4
                    img.possibility__icon(src="img/possibility-3.svg", width="80", height="95")
                    .possibility__title Электронная подпись актов
                    .possibility__text Нет необходимости собирать подписи ответственных лиц. Теперь это можно сделать дистанционно с помощью ЭЦП
                li.possibility__item.col-xs-12.col-sm-6.col-md-4
                    img.possibility__icon(src="img/possibility-4.svg", width="80", height="95")
                    .possibility__title Назначение ответственных по актам
                    .possibility__text Ответственные лица в актах выбираются из числа сотрудников занесенных в систему Сферум
                li.possibility__item.col-xs-12.col-sm-6.col-md-4
                    img.possibility__icon(src="img/possibility-5.svg", width="80", height="95")
                    .possibility__title Согласование актов
                    .possibility__text Перед принятием и подписью акта каждое ответственное лицо может указать свои замечания
                li.possibility__item.col-xs-12.col-sm-6.col-md-4
                    img.possibility__icon(src="img/possibility-6.svg", width="80", height="95")
                    .possibility__title Проверка подрядчика
                    .possibility__text Вы можете посмотреть историю взаимоотношений потенциального подрядчика с другими контрагентами, наличие судов, заблокированых счетов и т.д.
                li.possibility__item.col-xs-12.col-sm-6.col-md-4
                    img.possibility__icon(src="img/possibility-7.svg", width="130", height="85")
                    .possibility__title Активная разработка
                    .possibility__text Новая версия системы каждый месяц
                li.possibility__item.col-xs-12.col-sm-6.col-md-4
                li.possibility__item.col-xs-12.col-sm-6.col-md-4

            section.section
                a.popup.button.button_theme_primary.button_size_extra-large.button_position_centered(href='#free-action', data-effect="mfp-animation") попробовать бесплатно (10 актов)
