//contacts
section.contacts(role="menubar")
    .container
        nav.contacts__tabs.clearfix.text-center
            ul.tabs-list.tabs-list_separated
                li.tabs-list__item
                    a.link(href="tel:88005000975")
                        span.ico-smartphone.icon
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                            span.path5
                            span.path6
                            span.path7
                        span.link__text 8 800 500-09-75
                li.tabs-list__item
                    a.link(href="#")
                        span.ico-chat.icon
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                            span.path5
                        span.link__text Онлайн-консультант
                li.tabs-list__item
                    a.link(href="mailto:ask@ep.io?subject=Вопрос по электронному предприятию с лэендинга")
                        span.ico-mailbox.icon
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                            span.path5
                        span.link__text(s="") Техподдержка
                li.tabs-list__item
                    a.link(href="httph://ep.io")
                        span.ico-link.icon
                            span.path1
                            span.path2
                            span.path3
                            span.path4
                        span.link__text Демоверсия сайта