//flexible
section.business-category.section.section_darkness
    header.section__header.container
        h3.section__title-2 Для любого масштаба
    .section__content.container
        article.business-category-list.row
            .business-category-list__item.col-xs-12.col-sm-3
                .figure.figure-home-category
                    .figure-image
                        img(src="img/icons/busi-1.svg", width="70", height="70", alt="")
                    .figure-info
                        h4.figure-title Микробизнесу
            .business-category-list__item.col-xs-12.col-sm-3
                .figure.figure-home-category
                    .figure-image
                        img(src="img/icons/busi-2.svg", width="70", height="70", alt="")
                    .figure-info
                        h4.figure-title Среднему бизнесу
            .business-category-list__item.col-xs-12.col-sm-3
                .figure.figure-home-category
                    .figure-image
                        img(src="img/icons/busi-3.svg", width="70", height="70", alt="")
                    .figure-info
                        h4.figure-title Крупному бизнесу
            .business-category-list__item.col-xs-12.col-sm-3
                .figure.figure-home-category
                    .figure-image
                        img(src="img/icons/busi-4.svg", width="70", height="70", alt="")
                    .figure-info
                        h4.figure-title Для  нескольких организаций