//hero
section.hero(role="banner")
    .hero__image
    .container
        .row
            .hero__content
                .hero__text
                    h1.hero__title Для автоматизации формирования,<br> согласования  и подписания актов скрытых работ
                    .hero__image.hero__image--mobile
                    .hero__description Удобный и простой сервис, который позволяет взаимодействовать заказчику, проектировщику и подрядчикам друг с другом, дистанционно формировать и подписывать акты.

                .hero__form
                    .form
                        form#login-demo.form__body(action="spherum.php")
                            .form__login-group
                                .input.input_theme_ep.input_size_xl.input_width_available.input_size_xl.input_has-label
                                    label.input__label(for="login") Логин
                                    .input__box
                                        input#login.input__control(type="text", required="", name="login")
                                .input.input_theme_ep.input_size_xl.input_width_available.input_type_password.input_size_xl.input_has-label(style="margin: 0;")
                                    label.input__label(for="pass") Пароль
                                    .input__box
                                        input#pass.input__control(type="password", required="", name="password")
                                button.form__button.button.button_theme_ghost.button_size_large.button_view_full-width(style="margin-top: 0;", type="submit") Войти

                        form#login-demo(action="http://сферум.рф/acty/login/", method="post")
                            input#login(type="hidden", name="login", value="demo")
                            input#pass(type="hidden", name="password", value="123")
                            button.button.button_theme_primary.button_view_full-width.button_size_large(type="submit") Попробовать демоверсию прямо сейчас

                        span.form__register Впервые на Сферум? &nbsp;
                            a(href='http://сферум.рф/acty/sign_up/', target='_blank') Регистрация.


        aside.mouse.js-scrollto(data-scroll="advantages")
            .help-mouse-down
                i.help-mouse-wheel
            span.help-down

            span.mouse-text Подробней о возможностях