//our clients
section.slider.section(role="slider")
    header.section__header.container
        h3.section__title-2 Эти клиенты будут использовать наш продукт
    article.owl.container
        #owl.owl-carousel.owl-theme
            .item
                .row
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/sgm.png")
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/inteko.jpg")
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/glavmosstroy.jpg")
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/arks.jpg")
            .item
                .row
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/atomstroy.png")
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/lsr.jpg")
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/pik.jpg")
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/lider.jpg")
            .item
                .row
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/sgk.png")
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/mostotrest.jpg")
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/stroytransgas.jpg")
                    .col-sm-3.col-xs-6
                        img(src="img/partner-logos/transneft.png")

        .customNavigation
            a.button.prev
            a.button.next