form#free-action.mfp-hide.white-popup-block.mfp-with-anim.form
    fieldset.fieldset
        p.text.text-center
            big Попробуйте 10 бесплатных актов
            p.text-center Начните пользоваться сервисом прямо сейчас, совершенно бесплатно.
        .fields
            .control-group
                .input.input_theme_ep.input_size_xl.input_width_available.input_size_xl.input_has-label
                    label.input__label(for="username") Имя
                    .input__box
                        input#login.input__control(type="text", required="", name="username")
                .input.input_theme_ep.input_size_xl.input_width_available.input_size_xl.input_has-label
                    label.input__label(for="email") E-mail
                    .input__box
                        input#login.input__control(type="email", required="", name="email")

        button.form__buttton.button.button_theme_primary.button_size_large.button_view_full-width(type='submit') попробовать бесплатно (10 актов)