//prices
section.section(data-anchor="price")
    header.section__header.container
        h2.section__title-2 Цены
    .section__content.container

        .pricelist
            .row
                .col-xs-12.col-lg-2_10
                    .pricelist__item
                        .pricelist__header
                            .pricelist__title Тариф "Пробный"
                            .pricelist__price
                                span.pricelist__price-value 0
                                span.pricelist__price-unit ₽
                        .pricelist__content
                            .pricelist__description Бесплатно до 10 актов.<br><br>Цена последующих актов 490 руб за акт
                            a.popup.pricelist__action.button.button_theme_primary-ghost.button_size_medium.button_view_full-width(href='#free-action', data-effect="mfp-animation") Попробовать бесплатно

                .col-xs-12.col-lg-2_10
                    .pricelist__item
                        .pricelist__header
                            .pricelist__title Тариф "I"
                            .pricelist__price
                                span.pricelist__price-value 5.000
                                span.pricelist__price-unit ₽
                        .pricelist__content
                            .pricelist__description До 30 актов.<br><br>Цена последующих актов 380 руб за акт
                            .pricelist__action.button.button_theme_primary.button_size_medium.button_view_full-width Получить обновление

                .col-xs-12.col-lg-2_10
                    .pricelist__item
                        .pricelist__header
                            .pricelist__title Тариф "II"
                            .pricelist__price
                                span.pricelist__price-value 45.000
                                span.pricelist__price-unit ₽
                        .pricelist__content
                            .pricelist__description До 170 актов.<br><br>Цена последующих актов 270 руб за акт
                            .pricelist__action.button.button_theme_primary.button_size_medium.button_view_full-width Получить обновление

                .col-xs-12.col-lg-2_10
                    .pricelist__item
                        .pricelist__header
                            .pricelist__title Тариф "III"
                            .pricelist__price
                                span.pricelist__price-value 130.000
                                span.pricelist__price-unit ₽
                        .pricelist__content
                            .pricelist__description До 500 актов.<br><br>Цена последующих актов 160 руб за акт
                            .pricelist__action.button.button_theme_primary.button_size_medium.button_view_full-width Получить обновление

                .col-xs-12.col-lg-2_10
                    .pricelist__item
                        .pricelist__header
                            .pricelist__title Тариф "IV"
                            .pricelist__price
                                span.pricelist__price-value 225.000
                                span.pricelist__price-unit ₽
                        .pricelist__content
                            .pricelist__description Более 500 актов.<br><br>1 год
                            .pricelist__action.button.button_theme_primary.button_size_medium.button_view_full-width Получить обновление