/*Base styles*/

*:focus
  outline: none
::-moz-selection
  background: $brand
  color: $white
::selection
  background: $brand
  color: $white
html
  box-sizing: border-box
  -webkit-tap-highlight-color: transparent
*, *:before, *:after
  box-sizing: border-box
html, body
  height: 100%

/*Mini Reset*/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, figure, table, th, td, caption, hr
  margin: 0
  padding: 0
h1, h2, h3, h4, h5, h6, strong, b
  font-weight: normal
address, cite, dfn, em, i
  font-style: normal
a
  text-decoration: none
  color: $brand
  &:hover
    color: $brand-hover
img
  max-width: 100%
  vertical-align: top
ul
  margin: 0
  padding: 0
  list-style-type: none
/*End Mini Reset*/
body
  font-family: Roboto, sans-serif
  font-weight: 300
  line-height: 1.3em
  font-size: 16px

*:focus
  outline: none

/*End Base styles*/