/* Layout Styles */
.page
  font-family: "Segoe UI", "Helvetica Neue", Roboto, Arial, "Liberation Sans", "Nimbus Sans L", sans-serif
  font-size: 16px
  color: $text
  background: $white
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  min-width: 360px

.section
  position: relative
  padding: 50px 0
  &_darkness
    background: $ui-4
    padding: 75px 0
  &__body
    margin-top: 2.5em
  &__header
    padding-top: 25px
    padding-bottom: 60px
    text-align: center
    font-weight: 400
    p
      font-size: 15px
      color: $ui
    a
      color: $brand
      text-decoration: underline

  &__title
    text-transform: uppercase
    font-size: 12px
    color: #a8aab7
    &-2
      color: #27282c
      font-size: 42px
      margin-top: 15px
      margin-bottom: 45px
      line-height: 1.2em
      @media(max-width: 64em)
        font-size: 36px

    &-description
      font-size: 18px
      color: #515461


.visible-xs-block
  display: none

  @media (max-width: 767px)
    display: block


.hidden-xs
  display: block

  @media (max-width: 767px)
    display: none

.hidden
  @media(max-width: 720px)
    display: none

/* End Layout Styles */