.contacts
  background: $white
  position: relative
  z-index: 10

  .tabs-list
    height: 40px
    padding: 18px
    &_separated
      .tabs-list__item
        border-right: 1px solid $ui-1
        &:last-child
          border: none
    &__item
      float: left
      display: inline-block
      width: (100% / 4)
      position: relative
      .link
        line-height: 40px
        width: 100%
        height: 100%
        display: block
        .icon
          font-size: 27px
          vertical-align: bottom
          @media (max-width: 1024px)
            font-size: 16px
      .link__text
        font-size: 16px
        @media (max-width: 1024px)
          font-size: 14px
        @media (max-width: 767px)
          display: none