/*** FIGURE { ***/
.figure-image, .figure__image
  overflow: hidden
  margin: 0 0 10px
  img
    display: block
    margin: 0


.figure-title, .figure__title
  margin: 0 0 8px

.figure-horizontal:after, .figure_horizontal:after
  content: ""
  display: block
  clear: both

.figure-horizontal .figure-image, .figure_horizontal .figure-image, .figure-horizontal .figure__image, .figure_horizontal .figure__image
  float: left
  width: 150px

.figure-horizontal .figure-info, .figure_horizontal .figure-info, .figure-horizontal .figure__info, .figure_horizontal .figure__info
  margin: 0 0 0 170px

.figure_horizontal-overflow .figure__image
  width: auto
  margin-right: 0
  padding-right: 15px
  margin-bottom: 0
  float: left
  img
    display: inline-block
    margin-top: 0.3em


.figure_horizontal-overflow .figure__info
  margin: 0
  overflow: hidden

.figure_middle
  display: table
  .figure__image, .figure__info
    vertical-align: middle
    display: table-cell
    float: none
    img
      max-width: none


  .figure__image
    padding-right: 15px
    margin: 0
    width: 1%

/*** } FIGURE ***/