.nav
  &--top
    position: absolute
    top: 0
    width: 100%
    height: 120px
    z-index: 99
    padding: 20px 4.25rem 0
    box-sizing: border-box

  &__logo
    height: 43px
    width: 201px
    float: left
    margin-top: 6px
    @media (max-width: 768px)
      float: none
      margin: 1em auto
      display: block
      transform: scale(.8)
      left: -10px
      position: relative

  &__list
    margin: 0 20px 0 0
    padding: 0
    float: right
    line-height: 4.375rem
    @media (max-width: 768px)
      display: none

  &__item
    display: inline-block
    list-style-type: none

  &__link
    color: $text
    font-weight: 600
    text-decoration: none
    display: inline-block
    font-size: 16px
    margin-left: 9px
    position: relative
    cursor: pointer
    line-height: 1em
    padding: 8px 7px 9px
    border-radius: 5px
    opacity: .8
    transition: all .4s
    &:hover
      background: rgba(#e1e7ec, 0.8)
      color: #4e4e4e
      opacity: 1