/* Forms */
@import "_fields/_fields.sass"
@import "_control-group/_control-group.sass"
@import "_inputs/_input.sass"
.form
  max-width: 540px
  @media (max-width: 768px)
    max-width: 100%
  &__login-group
    @include clearfix
    .input, .button
      float: left
    .input
      width: 35.5%
      &:first-child
        margin-right: 2%
    .button
      width: 25%
      margin-left: 1%
      float: right
/* End Forms */