.hero
  flex: 1 0 100%
  max-height: 750px
  display: flex
  color: #253039
  position: relative
  background: #f3f8fc url('../img/hero-bg.png') no-repeat
  background-size: cover
  @media (max-width: 768px)
    max-height: initial

  &__content
    max-width: 1014px
    display: flex
    align-items: flex-start
    width: 100%
    flex-direction: column
    margin: 170px auto
    @media (max-width: 768px)
      align-items: center
      text-align: center
      margin: 120px auto 50px

  .row
    position: relative
    @media (max-width: 767px)
      position: static


  &__text
    max-width: 100%
  &__title
    font-family: roboto,appleLogo,sans-serif
    font-weight: 600
    font-size: 46px
    line-height: 1
    position: relative
    margin-top: 0
    margin-bottom: 0
    z-index: 1
    max-width: 870px
    color: #414549
    letter-spacing: -1px
    @media (max-width: 768px)
      font-size: 24px
      line-height: 1.33
      max-width: inherit
      margin-bottom: 1em


  &__image
    position: absolute
    z-index: 0
    bottom: 0
    right: 0
    background-size: contain
    background-repeat: no-repeat
    background-position: bottom right
    transition: height .2s,width .2s
    will-change: height,width
    height: 550px
    background-image: url('../img/hero-img.svg')
    width: 50%
    &--mobile
      display: none
    @media (max-width: 768px)
      display: none
      &--mobile
        display: block
        position: relative
        height: 20vh
        width: 100%
        border-radius: 10px
        z-index: 1
        background: $ui-3
        &:after
          position: absolute
          left: 0
          content: ''
          width: 100%
          height: 90%
          bottom: 0
          background-image: url('../img/hero-img.svg')
          background-position: 50% 50%
          background-size: contain
          background-repeat: no-repeat
          z-index: -1


  &__description
    font-size: 16px
    line-height: 30px
    font-weight: 400
    max-width: 720px
    margin-top: 30px
    margin-bottom: 30px
    @media (max-width: 768px)
      font-weight: 14px
      line-height: 1.2

  &__button
    display: none
    transition: all .4s
    @media (max-width: 767px)
      display: block
      margin-bottom: 30px



    &_invert
      color: white
    &_side_left
      padding-right: 140px
      @media (max-width: 767px)
        padding-right: 15px

    &_side_right
      position: absolute
      right: 0
      top: 0
      bottom: 0
      z-index: 1
      min-width: 320px
      padding-left: 25px
      padding-right: 25px
      &:after
        position: absolute
        left: 0
        right: 0
        bottom: 0
        height: 90%
        border-top: 1px solid #efefef
        border-bottom: 1px solid #efefef
        background-color: white
        z-index: -1
        content: ""
        transition: all .4s
        @media (max-width: 767px)
          height: 100%


      @media (min-width: 1200px)
        padding-left: 45px
        padding-right: 45px

      @media (max-width: 767px)
        position: relative
        padding-left: 15px
        padding-right: 15px

      @media (min-width: 767px)
        display: block !important
        right: 25px


  &__form
    width: 100%
    .form
      position: relative
      margin: 0
      .input:first-child
        margin-top: 0 !important

      &__title
        font-weight: 300
        font-size: 28px
        line-height: 31px
        margin-bottom: 48px
        margin-top: 0
        text-align: center
        @media (max-width: 767px)
          margin: 0 0 45px
          font-size: 24px
          line-height: 26px
          text-align: left

      &__button
        margin-bottom: 1em
        padding: 0
        line-height: 38px
        @media (max-width: 767px)
          margin-top: 38px

      &__register
        margin-top: 1em
        display: block
        color: #899199
        font-size: 13px
        font-weight: normal
        a
          text-decoration: underline
