doctype html
html(lang="RU-ru", itemscope="", itemtype="http://schema.org/WebPage")
  head
    block title
        title Сферум
    meta(charset="UTF-8")
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    //if IE
      meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="apple-touch-icon-precomposed", sizes="57x57", href="media/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="media/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="media/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="media/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon-precomposed", sizes="60x60", href="media/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon-precomposed", sizes="120x120", href="media/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon-precomposed", sizes="76x76", href="media/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon-precomposed", sizes="152x152", href="media/favicons/apple-touch-icon-152x152.png")
    link(rel="icon", type="image/png", href="media/favicons/favicon-196x196.png", sizes="196x196")
    link(rel="icon", type="image/png", href="media/favicons/favicon-96x96.png", sizes="96x96")
    link(rel="icon", type="image/png", href="media/favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="media/favicons/favicon-16x16.png", sizes="16x16")
    link(rel="icon", type="image/png", href="media/favicons/favicon-128.png", sizes="128x128")
    meta(name="msapplication-TileColor", content="#000000")
    meta(name="msapplication-TileImage", content="media/favicons/mstile-144x144.png")
    meta(name="msapplication-square70x70logo", content="media/favicons/mstile-70x70.png")
    meta(name="msapplication-square150x150logo", content="media/favicons/mstile-150x150.png")
    meta(name="msapplication-wide310x150logo", content="media/favicons/mstile-310x150.png")
    meta(name="msapplication-square310x310logo", content="media/favicons/mstile-310x310.png")
    meta(itemprop="name", content="ep©")
    meta(itemprop="image", content="media/sharer.png")
    meta(property="og:url", content="ep.ru")
    meta(property="og:type", content="website")
    meta(property="og:title", content="ep© - веди свой бизнес просто.")
    meta(property="og:image", content="media/vk_icon.png")
    meta(property="og:description", content="")
    meta(property="twitter:card", content="summary_large_image")
    meta(property="twitter:site", content="@ep")
    meta(property="twitter:description", content="ep© - веди свой бизнес просто.")
    meta(property="twitter:image:src", content="media/vk_icon.png")
    link(rel="image_src", href="_https://ep.ru/assets/vk_icon.png")
    // ВПИСАТЬ ОПИСАНИЕ И КЛЮЧИ
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="robots", content="INDEX,FOLLOW")
    // иконки
    link(rel="stylesheet", href="css/epiconic.css")
    // стили
    link(rel="stylesheet", href="css/vendor.css")
    link(rel="stylesheet", href="css/main.min.css")

    block title
      title Тестовая страница

  body.page.landing
    block pagecontent

    //
      if lt IE 9
      script(src='vendor/html5shiv/es5-shim.min.js')
      script(src='vendor/html5shiv/html5shiv.min.js')
      script(src='vendor/html5shiv/html5shiv-printshiv.min.js')
      script(src='vendor/respond/respond.min.js')
    // Load Scripts Start
    script(src="js/libs.js")
    script(src="js/index.js")
