@font-face {
  font-family: 'ep-landing-font';
  src:  url('fonts/ep-landing-font.eot?s6mn5j');
  src:  url('fonts/ep-landing-font.eot?s6mn5j#iefix') format('embedded-opentype'),
    url('fonts/ep-landing-font.ttf?s6mn5j') format('truetype'),
    url('fonts/ep-landing-font.woff?s6mn5j') format('woff'),
    url('fonts/ep-landing-font.svg?s6mn5j#ep-landing-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ep-landing-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-link .path1:before {
  content: "\e91a";
  color: #127dff;
}
.ico-link .path2:before {
  content: "\e91b";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-link .path3:before {
  content: "\e91c";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-link .path4:before {
  content: "\e91d";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-chat .path1:before {
  content: "\e900";
  color: #0f64ff;
}
.ico-chat .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: #127dff;
}
.ico-chat .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-chat .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-chat .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-mailbox .path1:before {
  content: "\e905";
  color: #0f64ff;
}
.ico-mailbox .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: #127dff;
}
.ico-mailbox .path3:before {
  content: "\e907";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-mailbox .path4:before {
  content: "\e908";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-mailbox .path5:before {
  content: "\e909";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-smartphone .path1:before {
  content: "\e90a";
  color: #0f64ff;
}
.ico-smartphone .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: #127dff;
}
.ico-smartphone .path3:before {
  content: "\e90c";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-smartphone .path4:before {
  content: "\e90d";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-smartphone .path5:before {
  content: "\e90e";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-smartphone .path6:before {
  content: "\e90f";
  margin-left: -1em;
  color: #0f64ff;
}
.ico-smartphone .path7:before {
  content: "\e910";
  margin-left: -1em;
  color: #0f64ff;
}

