/* Buttons */

.button
  position: relative
  z-index: 2
  display: inline-block
  margin: 0
  padding: .4em 1em
  outline: none
  border: none
  border-radius: 0
  text-align: center
  text-decoration: none
  text-transform: uppercase
  font-size: 13px
  transition: all .1s linear
  cursor: pointer
  font-weight: normal
  &:hover
    color: white
  &_icon
    padding: 2px 12px 0
    font-size: 16px

  &_size_extra-large
    font-size: 15px
    padding: .8em 1.5em

  &_size_large
    font-size: 14px
    padding-top: 0.6em
    padding-bottom: 0.6em
    @media (max-width: 768px)
      font-size: 12px !important
    &.button_icon
      padding: 4px 14px 2px
      font-size: 17px


  &_size_medium
    font-size: 11px
    padding: 0.5em

  &_size_small
    font-size: 10px
    padding: 0.4em 1.5em

  &_theme_ghost
    box-sizing: border-box
    border-radius: 6px
    color: #127dff
    background: transparent
    box-shadow: inset 0 0 0 2px #127dff
    font-size: 14px
    padding: 12px
    transition: all .4s
    @media (max-width: 768px)
      padding: 12px 8px
    &:hover
      color: #fff
      background: #127dff
      box-shadow: none
      &:after
        animation: arrow 1s infinite

    &:after
      content: "\2192"
      display: inline-block
      line-height: 10px
      margin-left: .5rem
      @media (max-width: 768px)
        display: none

  &_theme_additional
    background: $ui-3
    color: $ui
    border-radius: 20px
    &:hover
      background: $ui-2

    &:active
      background: $ui-1


  &_theme_primary
    color: $white
    background: $brand
    border-radius: 6px
    border: 2px solid transparent
    line-height: 1.5
    &:hover
      background: $brand-active

    &:active
      background: $brand-hover

    &-ghost
      color: $ui
      border: 2px solid $ui-3
      background: transparent
      border-radius: 6px
      line-height: 1.5
      box-sizing: border-box
      &:hover
        border-color: $brand
        color: $brand

      &:active
        border-color: $brand-hover
        color: $brand-hover



  &_view_full-width
    width: 100%
    padding: 12px 0

  &_position_centered
    display: table
    margin: 0 auto

  &_position_right
    float: right

  &-group .button
    margin-right: 1em
    &:last-child
      margin-right: 0


@keyframes arrow
  from
    transform: translateX(0)
  50%
    transform: translateX(3px)
  to
    transform: translateX(0)
/* End Buttons */