/*Preloader*/
body, .animated
  opacity: 0

#preloader-bg
  padding: 0
  margin: 0
  z-index: 1000
  display: block
  background: white

.pace, .pace .pace-progress
  z-index: 2000
  height: 100%
  width: 100%

.pace
  -webkit-pointer-events: none
  pointer-events: none
  user-select: none
  margin: auto
  right: 0
  bottom: 0
  left: 0
  top: 0
  &.pace-inactive
    display: none

  .pace-progress
    position: absolute
    transform: translate3d(0,0,0) !important
    &:before
      content: attr(data-progress-text)
      color: $brand
      font-weight: 400
      text-align: center
      font-size: 20px
      line-height: 100px
      padding: 0
      width: 100px
      height: 100px
      display: block
      z-index: 999
      position: absolute
      top: 50%
      left: 50%
      margin: -50px 0 0 -50px

#preloader-bg, .pace
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
/*End Preloader*/