/* Inputs group */
.control-group_inline
  display: inline-block
  width: 100%
  position: relative

.control-group
  .input
    margin-top: 0
    float: left
    width: 49% !important
    display: inline-block
    &:last-child
      margin-left: 2%


.control-group .input_theme_ep:before
  right: 0

.control-group .input_theme_ep.input_focused:before
  right: 1px

.control-group > .input_theme_ep:last-child:before, .control-group > :last-child .input_theme_ep:before
  right: 1px
/* End Inputs group */