.slider
  .section__header
    padding-bottom: 0

.owl
  position: relative

#owl .item
  padding: 30px 0
  margin: 10px
  position: relative
  > div div
    position: relative
    display: block
    height: 120px
    margin-bottom: 2em

  img
    max-height: 100%
    max-width: 160px
    display: block
    position: absolute
    margin: auto
    left: 50%
    top: 50%
    bottom: auto
    right: auto
    -webkit-transform: translateX(-50%) translateY(-50%)
    transform: translateX(-50%) translateY(-50%)


.customNavigation
  text-align: center
  a
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-tap-highlight-color: rgba(0,0,0,0)

  .button.prev, .button.next
    position: absolute
    top: 55px
    left: -15px
    cursor: pointer
    width: 51px
    height: 95px
    text-decoration: none

  .button.prev:after, .button.next:after
    background-image: url("../img/icons/controls.png")

  .button.next
    left: auto
    right: 0
    &:after
      content: ""
      display: block
      width: 21px
      height: 65px
      background-repeat: no-repeat
      background-position: -21px 0
      margin: 15px


  .button.prev:after
    content: ""
    display: block
    width: 21px
    height: 65px
    background-repeat: no-repeat
    background-position: 0 0
    margin: 15px


