/* Headers */

h1, .h1
  font-size: 32px

h2, .h2
  font-size: 26px
  &.chapter
    font-weight: 300
    font-size: 38px

h3, .h3
  font-size: 22px

h4, .h4
  font-size: 18px

h5, .h5
  font-size: 14px

h6, .h6
  font-size: 12px
  margin-bottom: 5px

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5
  margin-bottom: 15px
  line-height: 1.3em
  font-weight: normal

h1, .h1, h2, .h2, h3, .h3
  margin-top: 35px

h4, .h4, h5, .h5, h6, .h6
  margin-top: 25px
  line-height: 1.45em
  font-weight: normal

h1:first-child, .h1:first-child, h2:first-child, .h2:first-child, h3:first-child, .h3:first-child, h4:first-child, .h4:first-child, h5:first-child, .h5:first-child, h6:first-child, .h6:first-child
  margin-top: 0

h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6, h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6, h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6, h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6, h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6, h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6
  margin-top: 0

/* END Headers */
