/* Inputs */
/* Inputs */
.input
  -ms-touch-action: manipulation
  touch-action: manipulation
  transition: all 0.4s
  &_has-label
    margin-top: 2em
  &_theme_ep
    font-family: Arial, Helvetica, sans-serif
    position: relative
    display: inline-block
    background: rgba(white, .4)
    border-radius: 4px
    transition: all 0.4s

    .input__box
      position: relative
      display: block
      user-select: none
    .input__control
      font: inherit
      line-height: inherit
      position: relative
      display: inline-block
      box-sizing: border-box
      padding: 0
      width: 100%
      border: 0
      outline: none
      background: none
      box-shadow: 0 15px 40px  rgba(black, .13)
      -webkit-appearance: none
      &::-webkit-search-decoration
        -webkit-appearance: none
      &::-webkit-search-cancel-button
        display: none
      &::-webkit-input-placeholder
        color: $ui
        text-indent: 0
      &::-moz-placeholder
        opacity: 1
        color: $ui
      &::-ms-clear
        display: none
      &::-webkit-autofill
        border: 1px solid transparent
        background-clip: padding-box
    &.input_focused
      transition: all 0.4s
      z-index: 1
      background: #fff
      box-shadow: 0 15px 40px  rgba(black, .43)
      .input__control
        text-overflow: clip
      .input__label
        top: -1*25px
        left: 0
        color: #414549

    &.input_hovered
      transition: all 0.4s
      background:  rgba(white, .6)
      z-index: 10
      .input__control
        text-overflow: clip
    &.input_disabled
      background: rgba(0, 0, 0, 0.08)
      &:before
        display: none
      .input__box, .input__control
        color: rgba(0, 0, 0, 0.4)
        cursor: default
    &.input_size_s
      font-size: 13px
      line-height: 16px
      .input__control
        height: 24px
        padding: 0 6px
    &.input_size_m
      font-size: 13px
      line-height: 16px
      .input__control
        height: 28px
        padding: 0 8px
    &.input_size_l
      font-size: 15px
      line-height: 18px
      .input__control
        height: 32px
        padding: 0 10px
      &.input_has-clear .input__control
        padding-right: 32px
    &.input_size_xl
      font-size: 18px
      line-height: 22px
      .input__control
        height: 38px
        padding: 0 12px
    &.input_width_available
      width: 100%
    &.input_type_password .input__control
      text-overflow: clip
  &__label
    position: absolute
    left: 12px
    top: 9px
    font-size: 14px
    color: black
    max-height: 20px
    cursor: pointer
    transition: all .4s
    text-align: left



/* End Inputs */