.mouse
  position: absolute
  left: 50%
  transform: translateX(-50%)
  bottom: 0
  cursor: pointer
  margin: 0 auto 1em
  opacity: .8
  transition: opacity .9s
  display: none
  @media (min-width: 769px)
    display: block
  &:hover
    opacity: 1
    .help-mouse-wheel
      &:before, &:after
        animation: indicator-up-down 1.5s infinite ease-in-out
        height: 8px
        opacity: 0
      .help-down
        animation: arrow-down .3s infinite alternate

//Mouse
.help-mouse-down
  border: 2px solid #3f3f3f
  border-radius: 17px
  height: 50px
  margin: 15px auto 10px
  position: relative
  width: 30px



//Mouse Scroll
.help-mouse-wheel
  position: relative
  left: 50%
  transition: opacity .5s
  &:before, &:after
    content: ''
    background: #3f3f3f
    border-radius: 50%
    margin-left: -2px
    height: 4px
    position: absolute
    top: 5px
    transition: top .5s, height .5s, opacity .5s
    width: 4px
  &:before
    animation: scroll 1.5s .75s infinite ease-in-out
  &:after
    animation: scroll 1.5s infinite ease-in-out

@keyframes scroll
  0%
    top: 5px
    opacity: .3

  50%
    opacity: 1

  100%
    top: 15px
    opacity: 0

@keyframes indicator-up-down
  0%
    opacity: 0
  50%
    opacity: 1
  100%
    opacity: 0
    top: 20px


//-----Arrow Down
.help-down
  animation: arrow-down .6s infinite alternate ease-in-out
  border-bottom: 2px solid #3f3f3f
  border-right: 2px solid #3f3f3f
  display: block
  height: 5px
  margin: 0 auto 1em
  transform: rotate(45deg)
  transition: opacity .5s
  width: 5px

@keyframes arrow-down
  0%
    transform: translateY(5px) rotate(45deg)
  100%
    transform: translateY(15px) rotate(45deg)

.mouse-text
  text-transform: uppercase
  font-size: 12px
  color: $text
  font-weight: 600

