.white-popup-block
  background: $ui-2 url('../img/hero-bg.png')
  background-size: cover
  padding: 50px 30px
  text-align: left
  max-width: 650px
  margin: 40px auto
  position: relative
  box-shadow: 0 0 30px rgba($text, .2)
  .fieldset
    max-width: 48em
    margin: auto
  @media (max-width: 500px)
    padding: 50px 15px
    min-width: 320px
    margin: 0 auto
    .fieldset
      padding: 0


.mfp-wrap ~ *
  transition: filter .3s ease-in-out
  filter: blur(2px)

.mfp-bg
  background: $ui

//====== Zoom effect ======

.mfp-animation

  /* start state */
  .mfp-with-anim
    opacity: 0
    transition: all 0.3s ease-in-out
    transform: translateY(-100%)


  &.mfp-bg
    opacity: 0
    transition: all 0.4s ease-out


  /* animate in */
  &.mfp-ready
    .mfp-with-anim
      opacity: 1
      transform: translateY(0)

    &.mfp-bg
      opacity: 0.9



  /* animate out */
  &.mfp-removing

    .mfp-with-anim
      transform: translateY(-100%)
      opacity: 0

    &.mfp-bg
      opacity: 0

    &.mfp-wrap ~ *
      filter: blur(0)