.section[data-anchor="price"]
  padding-bottom: 0
  .pricelist > .row > [class*='col-']
    &:last-child
      > .pricelist__item
        &:after
          display: none
  @media (max-width: 1200px)
    .pricelist > .row > [class*='col-']
      padding: 0
      border-top: 1px solid $ui-1
      &:last-child
        border-bottom: 1px solid $ui-1
    .section__content.g-container
      width: 100%
      padding: 0

.pricelist

  &__item
    @include clearfix
    padding: 0 1em
    text-align: center
    position: relative
    height: 100%
    &:after
      position: absolute
      content: ''
      top: 18%
      bottom: 0
      right: 0
      width: 1px
      background: $ui-1
      height: 50%


    @media (max-width: 1200px)
      &:after
        display: none
      margin: 0 auto
      max-width: 760px

    @media (max-width: 840px)
      padding: 0 15px

  &__header
    padding-top: 2em
    padding-bottom: 2em
    @include clearfix
  &__title
    font-weight: 700
    font-size: 22px
    line-height: 1.5
    @media (max-width: 1200px)
      float: left
      text-align: left
    @media (max-width: 640px)
      font-size: 18px

  &__content
    padding-bottom: 2em
    @include clearfix

  &__price
    margin-top: 2em
    @media (max-width: 1200px)
      margin: 0
      float: right
      text-align: right
    &-value
      font-size: 38px
      font-weight: bold
      color: $text
      @media (max-width: 640px)
        font-size: 28px
    &-unit
      font-size: 18px
      color: $text-2
      margin-left: .2em
      @media (max-width: 640px)
        font-size: 16px

  &__description
    color: $text-2
    font-size: 16px
    font-weight: 400
    margin-bottom: 2em
    @media (max-width: 1200px)
      margin-bottom: 0
      float: left
      text-align: left
      color: $text
    @media (max-width: 640px)
      float: none

  &__action
    @media (max-width: 1200px)
      width: auto
      padding-left: 15px
      padding-right: 15px
      float: right
    @media (max-width: 640px)
      width: 100%
      margin-top: 2em