$var1: #6d919e
$var2: #2b454e

.product-features__list
  font-size: 0
  &__item
    font-size: 14px
    display: inline-block
    float: none
    vertical-align: top
    text-align: center
    padding-top: 25px
    padding-bottom: 20px


.figure-product-feature .figure-image
  width: 110px
  height: 110px
  position: relative
  box-shadow: 0 0 0 2px $var1
  border-radius: 50%
  overflow: hidden
  margin: 0 auto 20px
  @media (max-width: 767px)
    float: none
    text-align: center
    margin: 0 auto 5px
    width: 70px
    height: 50px
    box-shadow: none !important
    border-radius: 0

  .ability-icon
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    margin: auto
    max-width: 100%

    @media (max-width: 767px)
      transform: scale(0.7)


.figure-product-feature .figure-title
  font-size: 18px
  line-height: 25px
  margin: 0 0 17px
  font-weight: 600
  color: $var1

  @media (max-width: 767px)
    font-size: 16px
    margin-bottom: 8px
    line-height: 1.4

.figure-product-feature .figure-text
  font-size: 16px
  line-height: 21px
  color: $var2
  font-weight: 400

.product-features__list__item
  @media (max-width: 767px)
    width: 100%



.ability-icon
  background: url('../img/icons/ability-icons.png') no-repeat
  display: block
  &-icon1
    width: 48px
    height: 60px
    background-position: 0 0
    &0
      width: 53px
      height: 57px
      background-position: 0 -60px

    &1
      width: 48px
      height: 52px
      background-position: 0 -117px

    &2
      width: 55px
      height: 55px
      background-position: 0 -169px


  &-icon2
    width: 66px
    height: 57px
    background-position: 0 -224px

  &-icon3
    width: 64px
    height: 60px
    background-position: 0 -281px

  &-icon4
    width: 52px
    height: 52px
    background-position: 0 -341px

  &-icon5
    width: 52px
    height: 52px
    background-position: 0 -393px

  &-icon6
    width: 49px
    height: 52px
    background-position: 0 -445px

  &-icon7
    width: 50px
    height: 50px
    background-position: 0 -497px

  &-icon8
    width: 52px
    height: 42px
    background-position: 0 -547px

  &-icon9
    width: 53px
    height: 53px
    background-position: 0 -589px


