/* Typography */

p
  margin-bottom: 20px
  margin-top: 0
  line-height: 1.45em

hr
  border: 0
  margin-bottom: 20px
  margin-top: 0
  height: 1px
  background: $ui-1

.text b, .text strong
  font-weight: 600
  b, strong
    font-weight: 700

.text small
  font-size: 0.7em
  opacity: 0.6

.text big
  border: none
  font-size: 24px
  display: block
  line-height: 1.5

.text blockquote
  border-left: 5px solid $ui-2
  padding: 10px 20px 15px 25px
  margin: 0 0 20px
  &:last-child
    margin-bottom: 0

  p
    font-size: 18px
    font-weight: 300


.text-center
  text-align: center

.text-semilight
  font-weight: 300

