.possibility
  &__item
    text-align: center
    padding: 0 20px
    box-sizing: border-box
    -ms-box-sizing: border-box
    border-right: 1px solid #e3e3e5
    border-bottom: 1px solid #e3e3e5
    &:nth-child(3n+3)
      border-right: none

    @media(max-width: 64em)
      &:nth-child(3n+3)
        border-right: 1px solid #e3e3e5

      &:nth-child(2n+2)
        border-right: none


    @media(max-width: 48em)
      border-right: none
      &:nth-child(3n+3)
        border-right: none

      &:nth-child(2n+2)
        border-right: 1px none



  .row .possibility__item
    &:nth-last-child(-n+3)
      border-bottom: none

    @media(max-width: 64em)
      //&:nth-last-child(-n+3)
      //  border-bottom: 1px solid #e3e3e5

      &:nth-last-child(-n+2)
        border-bottom: none


    @media(max-width: 48em)
      &:nth-last-child(-n+3)
        border-bottom: 1px solid #e3e3e5

      &:nth-last-child(-n+2)
        border-bottom: 1px solid #e3e3e5

    &:last-child
      border-bottom: none



  &__icon
    margin: auto
    display: inline-block
    margin-top: 75px
    margin-bottom: 60px

  &__title
    color: #515461
    font-size: 20px
    line-height: 28px
    font-weight: 600
    margin-bottom: 25px

  &__text
    color: #515461
    font-size: 18px
    line-height: 22px
    font-weight: 400
    margin-bottom: 60px
