extends layout/main.pug

block title
    title Сферум

block pagecontent

    nav.nav.nav--top(role="nav")
        a.logo.nav__logo(href='#')
        ul.nav__list
            li.nav__item
                a.nav__link.js-scrollto(href='#', data-scroll="advantages") Возможности
            li.nav__item
                a.nav__link.js-scrollto(href='#', data-scroll="price") Цены

    main.page__content(role="main")
        include  sections/hero.pug
        include  sections/contacts.pug
        include  sections/advantages.pug
        include  sections/flexible.pug
        include  sections/prices.pug
        include  sections/ourclients.pug
        include  sections/popup.pug


