/* Icon */
.icon
  min-height: 1em
  border-radius: 100%
  position: relative
  display: inline-block
  min-width: 1em
  background: 50% no-repeat
  text-align: center
  line-height: inherit
  + .link__text, + .button__text
    margin-left: 0.5em
/* End Icon */