/* Fields */
fieldset
  border: none
  margin: 0
  padding: 0

.fields
  margin-bottom: 2em
  &:before, &:after
    content: " "
    display: table

  &:after
    clear: both

  > .select:first-child, > .input:first-child
    margin-right: 1em


.fieldset
  margin: 2em 0
  padding: 2em
  background: rgba(143,191,24,0.01)



/* End Fields */