/*** HEADER { ***/
.page-header
  padding: 15px 0
  border-bottom: 1px solid $ui-4
  background: $white
  position: relative
  z-index: 1

  .row
    padding-top: 8px

    @media (max-width: 767px)
      padding-top: 0

      [class*=col-xs]
        background: $white
        position: static
        padding: 0.5em 0

    @media (min-width: 768px) and (max-width: 991px)
      padding-top: 0

  @media (max-width: 767px)

    position: static
    z-index: 1
    padding: 0
    height: auto

    .header-logo svg
      transform: scale(0.85)
      display: table
      margin: 0 auto

  @media (min-width: 768px) and (max-width: 991px)
    padding: 0.5em 0

    .header-logo svg
      transform: scale(0.95)
      transform-origin: 0 0


/*** HEADER } ***/