.business-category
  .section__header
    padding-top: 0
    @media (max-width: 48em)
      padding-bottom: 20px

.business-category-list
  font-family: Roboto, sans-serif
  font-weight: 400
  &__item
    vertical-align: top
    text-align: center
    border-left: 1px solid $ui-2

    .figure-info
      @media (max-width: 48em)
        overflow: hidden
        margin-left: 65px
        border-bottom: 1px solid #e4e4e4
        min-height: 60px
        padding: 25px


    @media (max-width: 48em)
      width: 100%
      text-align: left
      margin: 12px 0 0
      &:first-child
        border-left: none
      &:last-child
        .figure-info
          @media (max-width: 48em)
            border-bottom: 0





  img
    display: inline-block

  .figure-image
    @media (max-width: 48em)
      margin: 0
      float: left
      min-height: 60px

  .busi-icon
    @media (max-width: 48em)
      transform: scale(0.6)



  &__item_long-title
    @media (min-width: 992px)
      padding: 0 0 0 5px



.busi-icon
  background: url("../img/icons/busi-icons.png") no-repeat
  display: block
  margin: 0 auto
  &-busi1
    width: 76px
    height: 66px
    background-position: 0 0

  &-busi2
    width: 68px
    height: 65px
    background-position: 0 -66px

  &-busi3
    width: 73px
    height: 66px
    background-position: 0 -131px

  &-busi4
    width: 71px
    height: 64px
    background-position: 0 -197px

  &-busi5
    width: 65px
    height: 64px
    background-position: 0 -261px


